/* Jami Karvanen - 014023196 */

.thin-panel {
    width: 25%;
    float: left;
}
.wide-panel {
    width: 70%;
    float: left;
    margin-left: 10px;
}
.sine-input {
    width: 100px;
    margin-bottom: 5px;
}
.cache-size {
    width: 35px;
}
label > input {
    margin-left: 5px;
}